* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Space Grotesk", sans-serif;
    font-optical-sizing: auto;
    font-weight: 400;
font-style: normal;
}

::selection {
    background-color: #a0a0a0;
}

html, body, #root {
  min-height: 100%;
  height: 100%;
}
#root {
    width: 100%;
    height: 100%;
    background-color: transparent;
}

.glass-tile {
  backdrop-filter: blur(10px);
  background: rgba(255, 255, 255, 0.1); 
  border: 1px solid rgba(255, 255, 255, 0.2);
  border-radius: 16px;
  box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
  background: linear-gradient(135deg, rgba(255,255,255,0.2) 0%, rgba(255,255,255,0.05) 100%);
}

.album-pane {
  position: relative;
  border-radius: 12px;
  overflow: hidden;
  border: 0px solid rgba(255, 255, 255, 0.2);
  box-shadow: 
    inset 0 0 15px rgba(255, 255, 255, 0.1),
    0 10px 20px rgba(0, 0, 0, 0.3);
}

.album-pane::after {
  content: "";
  position: absolute;
  top: 0; left: 0; right: 0; bottom: 0;
  background: linear-gradient(
    135deg, 
    rgba(255, 255, 255, 0.3) 0%, 
    rgba(255, 255, 255, 0) 40%, 
    rgba(255, 255, 255, 0) 100%
  );
  pointer-events: none;
}